body {
  overflow: hidden;
}

.App {
  text-align: center;
}

input {
  color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

.input-icons i { 
  position: absolute; 
} 

.input-icons { 
  width: 100%; 
  margin-bottom: 20px; 
} 

.icon { 
  padding: 10px; 
  color: green; 
  min-width: 50px; 
  text-align: center; 
} 

.input-field { 
  width: 100%; 
  padding: 15px; 
  text-align: center; 
  border-radius: 48px;
  background: #bb8d8d69;
  color: #f3f3f3;
  border: none;
  
} 

.icon-div {
  position: absolute;
  margin-top: 12px;
  margin-left: 18px;

}

.input-button {
  width: 100%; 
  padding: 15px; 
  text-align: center; 
  border-radius: 48px;
  background: transparent;
  color: #f3f3f3;
  border: 1px solid grey;
  box-sizing: content-box;
  margin-top: 25px;
}

textarea:focus, input:focus{
  outline: none;
}

button:focus{
  outline: none;
}
